//- /*-----------------------------------------------------*\
	*
	* VARIABLES DE CONFIGURACIÓN
	*
	* Metatags ____________ @Metatags
	* Header Especial _____ @Especial
	* Hoja de estilos _____ @Estilos
	*
	/*-----------------------------------------------------*\



//- /*===================================================================*\
	    * @Metatags *
	\*===================================================================*/

block metatags

	- var Pagetitle = "Totalplay"

	- var MetaDesc = "Totalplay es el sistema de telefonía, televisión e internet  más innovador en México. Conoce las promociones que tenemos para ti. La diferencia es Total."

	- var favicon = "images/favicon.ico"

	- var interna = true





//- /*===================================================================*\
	    * @Especial *
	\*===================================================================*/


block headerEspecial

	- var especial = true

	- var secundario = true
