//- Template
extends ../template/template

//- /*-----------------------------------------------------*\
	*
	* PÁGINA DE ERROR 404
	*
	* Variables ____________________________________ @Variables
	*
	\*-----------------------------------------------------*/


//- /*===================================================================*\
	    * @Variables *
	\*===================================================================*/


//- /*===================================================================*\
	    * @Contenido *
	\*===================================================================*/



block Content

	//- /*===================================================================*\
		    * @Título *
		\*===================================================================*/

	.page-title
		h1  Página 
			span no encontrada

		h2 La página que buscas no existe, intenta navegar por el menú.
