/*-----------------------------*\
*
*    * Estilos del Home *
* 
* Estilos Paquetes ___________ @Packs
* Estilos Servicios __________ @Servicios
*    
\*-----------------------------*/




/*==========================================================================*\
    * Estilos @Packs *
\*==========================================================================*/


.packs{

	margin-bottom: 2rem;
	@include centrado(960px);


	&__item{
		text-align: center;
		width: 90%;
		margin: 0 auto;


		&--figure{
			img{
				display: block;
				margin: 0 auto;
			}
		}

		&--title{
			margin: 0;
			font-weight: 400;
			font-size: 1.2rem;
		}

		&--description{

			min-height: 85px;

			p{
				color: $grisClaro;
				margin-top: 0;
				line-height: 1.2rem;
				font-size: .8rem;
			}
		}

		&--vermas{
			border-radius: 5px;
			background-color: $negro;
			color: $blanco;
			margin-bottom: 1rem;
			margin-top: 1rem;
			font-size: .7rem ;
			padding: .2rem .8rem;
			text-align: center;
		}
		/*====| MediaQuerie packs__item 600px |====*/

		@media screen and(min-width:600px){
			width: 50%;
		}	

		/*====| MediaQuerie packs__item 768px |====*/

		@media screen and(min-width:768px){
			width: 25%;
		}	

	}

	/*====| MediaQuerie packs 600px |====*/

	@media screen and(min-width:600px){
		-webkit-flex-flow: row wrap;
		-moz-flex-flow: row wrap;
		-ms-flex-flow: row wrap;
		-o-flex-flow: row wrap;
		flex-flow: row wrap;

		-ms-align-items: stretch;
		align-items: stretch;
		@include flexbox-display-flex;
	}

}



/*==========================================================================*\
    * Estilos @Servicios *
\*==========================================================================*/

.servicios{
	width: 90%;
	@include centrado(960px);

	&__item{
		margin-top: 2rem;
		text-align: center;

		-webkit-flex-flow: row wrap;
		-moz-flex-flow: row wrap;
		-ms-flex-flow: row wrap;
		-o-flex-flow: row wrap;
		flex-flow: row wrap;
		-ms-align-items: center;
		align-items: center;

		@extend .sombra-top;
		@include flexbox-display-flex;

		img{
			width: 100%;
		}


		&--description{		
			color: $colorTexto;
		    font-size: 13px;
		    
			h3{
				margin-bottom: 8px;
				font-size: 22px;
				font-weight: 400;
			}
		}

		&--vermas{
			background-color: $negro;
			border-radius: 5px;
			color: $blanco;
			display: block;
			margin-bottom: 1rem;
			margin-top: 1rem;
			font-size: .7rem ;
			padding: .2rem .8rem;
			text-align: center;
			width: 100px;
			margin-right: auto;
			margin-left: auto;

		}

		/*====| MediaQuerie Servicios item 600px |====*/

		@media screen and(min-width:600px){
			text-align: left;
			
			&.reverse{
				-webkit-flex-direction: row-reverse;
				-moz-flex-direction: row-reverse;
				-ms-flex-direction: row-reverse;
				-o-flex-direction: row-reverse;
				flex-direction: row-reverse;
				
			}

				a{
					margin-right: auto;
					margin-left: 0;
				}

			&:nth-child(2n+1){
				text-align: right;

				a{
					margin-right: 0;
					margin-left: auto;
				}
			}

			&--item{
				width: 50%;
			}

		}
	}

}

