.canales__item
	figure.canales__item--imagen
		img(src="images/hbo/1.png", alt="Canales hbo")
		figcaption.canales__item--info
			h2 HBO Único
			p Te ofrece estrenos de las películas más taquilleras, excelentes documentales y series originales que se estrenan en  simultáneo con los EUA. Sin cortes comerciales, idioma Original con subtítulos.
			p El canal más premiado de la industria del cine y la televisión.
.canales__item
	figure.canales__item--imagen
		img(src="images/hbo/2.png", alt="Canales hbo")
		figcaption.canales__item--info
			h2 HBO 2 EN TU PROPIO IDIOMA
			p Canal doblado al español para no perder ningún detalle de las mejores películas, series y documentales. Para todas aquellas personas que quieran vivir una experiencia integral y poder ver los éxitos de taquilla en su propio idioma.

.canales__item
	figure.canales__item--imagen
		img(src="images/hbo/3.png", alt="Canales hbo")
		figcaption.canales__item--info
			h2 HBO FAMILY CALIDO
			p El canal ideal para compartir un momento dedicado a toda la familia. HBO Family transmite programación para todas las generaciones con grandes éxitos. Sin violencia, sin cortes comerciales, series de emocionantes aventuras, magia y fantasía.

.canales__item
	figure.canales__item--imagen
		img(src="images/hbo/4.png", alt="Canales hbo")
		figcaption.canales__item--info
			h2 HBO SIGNATURE EL SELLO DE HBO
			p Aquí está lo más sobresaliente de HBO con la excelente calidad de las series, películas y documentales producidas por HBO a lo largo de su historia. Películas taquilleras, miniseries y documentales, series HBO para ponerse al día y mucho más.

.canales__item
	figure.canales__item--imagen
		img(src="images/hbo/5.png", alt="Canales hbo")
		figcaption.canales__item--info
			h2 HBO PLUS JUVENIL E IRREVERENTE
			p Canal para una audiencia intrépida  y juvenil  con programación en su idioma original. La mezcla perfecta del entretenimiento con conciertos, giras actuales y shows musicales, shows de comedia, películas, previews y reviews, series y miniseries.

.canales__item
	figure.canales__item--imagen
		img(src="images/hbo/6.png", alt="Canales hbo")
		figcaption.canales__item--info
			h2 HBO Plus O
			p Con un horario alterno disfruta de programación propia y original: conciertos, musicales, series, documentales y transmisiones de eventos deportivos.

.canales__item
	figure.canales__item--imagen
		img(src="images/hbo/7.png", alt="Canales hbo")
		figcaption.canales__item--info
			h2 MAX PRIME ATREVIDO
			p Un canal donde el humor, la acción y el sexo se combinan de manera explosiva para ofrecer a la audiencia masculina la mejor selección de contenido, además MAX PRIME todos los días a partir de la media noche, Hot Max, programación erótica.
.canales__item
	figure.canales__item--imagen
		img(src="images/hbo/8.png", alt="Canales hbo")
		figcaption.canales__item--info
			h2 MaxPrime E
			p Canal con un toque de adrenalina, erotismo y acción en tu televisión, disfruta de Max Prime con un horario alterno.

.canales__item
	figure.canales__item--imagen
		img(src="images/hbo/9.png", alt="Canales hbo")
		figcaption.canales__item--info
			h2  MAX INTERNACIONAL
			p Donde lo alternativo, independiente y multicultural conviven dentro de un solo canal MAX es diferente, cine independiente, internacional, películas de culto, documentales que hacen pensar, películas ganadoras en los mejores festivales de cine del mundo.


.canales__item
	figure.canales__item--imagen
		img(src="images/hbo/10.png", alt="Canales hbo")
		figcaption.canales__item--info
			h2 MAX UP DESAFIANTE
			p El canal joven e irreverente, canal directo,  ligero y divertido con los éxitos de taquilla de Hollywood y los más entretenidos estrenos  comericales europeos, comedia, romance, fantasía, además una dosis de contenido erótico los sábados a media noche.