//- Template
extends ../template/template


//- /*-----------------------------------------------------*\
	*
	* PÁGINA 
	*
	* Variables _______________________________ @Variables
	*
	/*-----------------------------------------------------*\




//- /*===================================================================*\
	    * @Variables *
	\*===================================================================*/

//- Metatags
block metatags

	- var Pagetitle = "Totalplay - Preguntas Frecuentes"
	- var currentUrl = "/preguntas-frecuentes"
	- var favicon = "images/favicon.ico"