//- Template
extends ../template/template


//- /*-----------------------------------------------------*\
	*
	* PÁGINA EMPRESARIOS TOTALPLAY
	*
	* Variables _______________________________ @Variables
	*
	/*-----------------------------------------------------*\
 



//- /*===================================================================*\
	    * @Variables *
	\*===================================================================*/


//- Metatags
block metatags

	- var Pagetitle = "Totalplay - Empresarios"
	- var favicon = "images/favicon.ico"
	- var currentUrl = "/empresarios/paquetes"

block headerEspecial

	- var secundario = false
	- var especial = false
