//- Template
extends ../template/template

//- /*-----------------------------------------------------*\
	*
	* PÁGINA 
	*
	* Variables _______________________________ @Variables
	*
	/*-----------------------------------------------------*\




//- /*===================================================================*\
	    * @Variables *
	\*===================================================================*/

//- Metatags
block metatags

	- var Pagetitle = "Totalplay - Dezzer"
	- var currentUrl = "/dezzer"
	- var favicon = "images/favicon.ico"